.container {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "nav nav nav"
      "con con con"
      "foo foo foo";
}
  
.nav { 
    grid-area: nav; 
    position: sticky;
}
  
.foo { 
    grid-area: foo; 
    position: sticky;
}
  
.con {  
    display: grid;
    grid-template-columns: 1.7fr 0.3fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "h18 scr"
      "h19 scr"
      "h20 scr"
      "h21 scr";
    grid-area: con;
}
  
.scr { 
    grid-area: scr; 
}
  
.h21 { 
    grid-area: h21; 
}
  
.h20 { 
    grid-area: h20; 
}
  
.h19 { 
    grid-area: h19; 
}
  
.h18 { 
    grid-area: h18; 
}
  
  
html, body, .container {
    height: 100%;
    margin: 0;
}

li {
    display: inline;
    padding: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(210, 210, 210);
}